<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keensense.task.mapper.CfgMemPropsMapper">

    <update id="updateConfig">
        update cfg_mem_props
        set
          prop_value = 'none'
        where
          module_name = '_control'
          and prop_key= 'u2s.recog2master'
          and TIMESTAMPDIFF(MINUTE,update_time,now())>=2
    </update>

    <update id="changeMaster" parameterType="string">
        update cfg_mem_props
        set
          prop_value = #{masterId,jdbcType=VARCHAR},
          prop_desc = #{date,jdbcType=VARCHAR},
          update_time = now()
        where
          module_name = '_control'
          and prop_key= 'u2s.recog2master'
          and prop_value = 'none'
    </update>

    <update id="heart" parameterType="string">
        update cfg_mem_props
        set
          prop_desc = #{date,jdbcType=VARCHAR},
          update_time = now()
        where
          module_name = '_control'
          and prop_key= 'u2s.recog2master'
          and prop_value = #{masterId,jdbcType=VARCHAR}
    </update>
</mapper>
