<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.keensense.admin.mapper.sys.SysDeptMapper">

    <resultMap type="com.keensense.admin.entity.sys.SysDept" id="sysDeptMap">
        <result property="deptId" column="dept_id"/>
        <result property="longNumber" column="Long_number"/>
        <result property="deptName" column="dept_name"/>
        <result property="deptNumber" column="dept_number"/>
        <result property="parentId" column="parent_id"/>
        <result property="deptLevel" column="dept_level"/>
        <result property="displayName" column="display_name"/>
        <result property="isLeaf" column="is_leaf"/>
        <result property="deptState" column="dept_state"/>
        <result property="adminIdentity" column="admin_identity"/>
        <result property="address" column="address"/>
        <result property="tel" column="tel"/>
        <result property="isBizOrg" column="is_biz_org"/>
        <result property="bizCode" column="biz_code"/>
        <result property="seq" column="seq"/>
        <result property="description" column="description"/>
        <result property="creatorId" column="creator_id"/>
        <result property="createTime" column="create_time"/>
        <result property="lastUpdateUserId" column="last_update_user_id"/>
        <result property="lastUpdatedTime" column="last_updated_time"/>
        <result property="ctrlUnitId" column="ctrl_unit_id"/>
    </resultMap>

</mapper>
