<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keensense.extension.mapper.ArchivesInfoMapper">

    <resultMap id="archivesInfo" type="com.keensense.extension.entity.ArchivesInfo">
        <id column="id" property="id" />
        <id column="face_img_url" property="faceImgUrl" />
        <id column="face_feature_id" property="faceFeatureId" />
        <id column="create_time" property="createTime" />
        <id column="obj_type" property="objType" />
        <id column="p_id" property="pId" />
        <id column="relation_id" property="relationId" />
        <id column="angle" property="angle" />
    </resultMap>

    <sql id="conditionFilter">
        <if test="archivesIDList!=null and archivesIDList.size()>0">
            AND id IN
            <foreach collection="archivesIDList" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
        <if test="angleList!=null and angleList.size()>0">
            AND angle IN
            <foreach collection="angleList" item="angle" separator="," open="(" close=")">
                #{angle}
            </foreach>
        </if>
        <if test="pIdList!=null and pIdList.size()>0">
            AND p_id IN
            <foreach collection="pIdList" item="pid" separator="," open="(" close=")">
                #{pid}
            </foreach>
        </if>
        <if test="createTimeList!=null and createTimeList.size()==1">
            AND create_time IN
            <foreach collection="createTimeList" item="createTime" separator="," open="(" close=")">
                #{createTime}
            </foreach>
        </if>
        <if test="createTimeList!=null and createTimeList.size()==2">
            AND create_time BETWEEN
            <foreach collection="createTimeList" item="createTime" index="index">
                <if test="index == 0">
                    #{createTime} AND
                </if>
                <if test="index == 1">
                    #{createTime}
                </if>
            </foreach>
        </if>
    </sql>

    <select id="queryByCondition" resultMap="archivesInfo">
        SELECT * from archives_info where 1=1
        <include refid="com.keensense.extension.mapper.ArchivesInfoMapper.conditionFilter"></include>
    </select>

    <update id="updateByArchivesID">
        UPDATE archives_info set p_id = #{pId} where p_id in
        <foreach collection="archivesIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>

    <delete id="deleteByPID">
        DELETE from archives_info  where p_id in
        <foreach collection="archivesIdsList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
