<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.keensense.densecrowd.mapper.sys.SysLogMapper">

    <resultMap type="com.keensense.densecrowd.entity.sys.SysLog" id="sysLogMap">
        <result property="id" column="id"/>
        <result property="moduleName" column="module_name"/>
        <result property="moduleUrl" column="module_url"/>
        <result property="actionType" column="action_type"/>
        <result property="userName" column="user_name"/>
        <result property="realName" column="real_name"/>
        <result property="ipaddr" column="ipaddr"/>
        <result property="createTime" column="create_time"/>
        <result property="c1" column="c1"/>
        <result property="c2" column="c2"/>
        <result property="c3" column="c3"/>
        <result property="c4" column="c4"/>
    </resultMap>

    <select id="selectPageByParams"  resultType="com.keensense.densecrowd.entity.sys.SysLog"  parameterType="java.util.Map">
        SELECT
        s.id as id,
        date_format(s.create_time,'%Y-%m-%d %H:%i:%s') as createTime,
        s.module_name as moduleName,
        s.real_name as realName,
        s.action_type as actionType
        FROM sys_log s
        where 1=1
        <if test="params.moduleName != null">
            and	s.module_name like #{params.moduleName}
        </if>
        <if test="params.startTime != null">
		    	 and s.create_time &gt; #{params.startTime}
        </if>
        <if test="params.endTime != null">
		    	 and s.create_time &lt; #{params.endTime}
        </if>
        <if test="params.userName != null">
            and	(s.user_name  like #{params.userName} or s.real_name like #{params.userName})
        </if>
        <if test="params.actionType != null">
            and s.action_type in
            <foreach item="item" index="index" collection="params.actionType"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        order by s.create_time desc
    </select>


</mapper>
