<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.keensense.admin.mapper.lawcase.AppLawcaseBasicconfMapper">

    <resultMap type="com.keensense.admin.entity.lawcase.AppLawcaseBasicconf" id="appLawcaseBasicconfMap">
        <result property="id" column="ID"/>
        <result property="colName" column="COL_NAME"/>
        <result property="colCode" column="COL_CODE"/>
        <result property="colDes" column="COL_DES"/>
        <result property="createUserid" column="CREATE_USERID"/>
        <result property="createUsername" column="CREATE_USERNAME"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="orderbyCode" column="ORDERBY_CODE"/>
        <result property="isValid" column="IS_VALID"/>
        <result property="tableName" column="TABLE_NAME"/>
        <result property="widgetType" column="widget_type"/>
        <result property="usefor" column="usefor"/>
    </resultMap>

</mapper>
