<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.keensense.admin.task.lawcase.TbCaseVideoDownloadMapper">

    <resultMap type="com.keensense.admin.entity.lawcase.TbCaseVideoDownload" id="tbCaseVideoDownloadMap">
        <result property="id" column="id"/>
        <result property="progress" column="progress"/>
        <result property="entryTime" column="entry_time"/>
        <result property="transferUrl" column="transfer_url"/>
        <result property="transferId" column="transfer_id"/>
        <result property="transferStatus" column="transfer_status"/>
        <result property="transferRetry" column="transfer_retry"/>
        <result property="downloadUrl" column="download_url"/>
        <result property="downloadId" column="download_id"/>
        <result property="downloadStatus" column="download_status"/>
        <result property="downloadProgress" column="download_progress"/>
        <result property="downloadFile" column="download_file"/>
        <result property="downloadRetry" column="download_retry"/>
        <result property="transcodeUrl" column="transcode_url"/>
        <result property="transcodeId" column="transcode_id"/>
        <result property="transcodeStatus" column="transcode_status"/>
        <result property="transcodeProgress" column="transcode_progress"/>
        <result property="transcodeFile" column="transcode_file"/>
        <result property="createTime" column="create_time"/>
        <result property="finishTime" column="finish_time"/>
        <result property="lastupdateTime" column="lastupdate_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

</mapper>
