<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.keensense.admin.mapper.task.ObjextResultTrackMapper">

    <resultMap type="com.keensense.admin.entity.task.ObjextResultTrack" id="objextResultTrackMap">
        <result property="id" column="id"/>
        <result property="serialnumber" column="serialnumber"/>
        <result property="tubeid" column="tubeid"/>
        <result property="objid" column="objid"/>
        <result property="startframepts" column="startframepts"/>
        <result property="trackjson" column="trackjson"/>
    </resultMap>

</mapper>
