<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.keensense.admin.mapper.task.TbImagesearchRecordMapper">

    <resultMap type="com.keensense.admin.entity.task.TbImagesearchRecord" id="tbImagesearchRecordMap">
        <result property="id" column="id"/>
        <result property="taskId" column="task_id"/>
        <result property="createDate" column="create_date"/>
        <result property="recordId" column="record_id"/>
        <result property="type" column="type"/>
        <result property="createTime" column="create_time"/>
        <result property="score" column="score"/>
    </resultMap>

</mapper>
